<div class="col-md-12 col-lg-12 ">
  <nb-card status="success">
    <nb-card-header>Registrar Notas</nb-card-header>
      <nb-card-body>
          <toaster-container [toasterconfig]="config"></toaster-container>
            <ng2-smart-table [settings]="settings" [source]="source" (custom)="onCustomAction($event)" (editConfirm)="onEditConfirm($event)" >
            </ng2-smart-table>
            <br>
            <br>
            <button (click)="onClick()" class="btn btn-info btn-sm"> Regresar</button>
      </nb-card-body>
    </nb-card>
  </div>